/**
 * CSS that iss not categorized yet. 
 */


/** These should match LoginPanel styles */
.app-header a {
  text-decoration: none; 
  display: flex;
  align-items: center;
  margin: 0.5em 0em;
  padding: 0.25em 0.9em;
  color: #2c3e50;
}

.app-header a > * {
  margin-left: 0.4em;
}

.app-header a:hover {
  border-radius: 0.5em;
  background: rgba(0,0,0,0.046);
  cursor: pointer;
  transition: background 0.19s;
}

.header-coloring {
  background: rgb(224, 231, 239);
  background: linear-gradient(to right, rgba(245, 251, 255, 0.25) 0%, rgba(238, 238, 238, 0.25)100%);
  box-shadow: 
    inset 0 1px 3px -1px rgba(0,0,0,0.24);
  border-bottom: 1px solid rgba(0,0,0,0.15);
}


/** Font defaults, directly from Vue cli init */
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}


.post-editor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3em; 
}
.post-editor > * {
  max-width: 40em;
}

/** vue transition group css */

.list-item {
  display: block;
}
.list-enter-active, .list-leave-active {
  transition: all 0.5s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(80px);
}
.list-move {
  transition: transform 1s;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/** BURGER MENU (unused atm) */

/** nothing really to do with burger menu */
#page-wrap {
  padding: 0rem 0rem;
  overflow: visible;
}

.bm-menu a.router-link-exact-active {
  color: #42b983;
}

  
.bm-burger-button {
  position: absolute;
  width: 27px;
  height: 22px;
  left: 1rem;
  top: 1rem;
}

.right .bm-burger-button {
  left: initial;
  right: 36px;
}
.bm-burger-bars {
  background: #373a47;
}
.bm-morph-shape {
  fill: #373a47;
}
.bm-menu {
  background: #373a47;
  transition: 0.15s;
}
.bm-menu-item-list a  { 
  color: #ebda29;
}

.bm-menu span:hover  { 
  color: #ece37e;
}

/* FROM BULMA  -- broken */
.is-loading {
  position: relative;
}
.is-loading::after {
  -webkit-animation: spinAround 500ms infinite linear;
          animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  height: 1em;
  width: 80%;
  position: absolute;
  border: 1px solid green;  
}



/** LOGIN-PANEL */

.user-login-panel {
  display: flex;
  font-size: 1em;
  align-items: center;
  margin: 0.5em 0em;
  padding: 0.25em 0.9em;
  border-radius: 0.5em 0.0em 0.0em 0.5em;
  cursor: pointer;
  transition: background 0.19s;
}

.user-login-panel  label {
  cursor: pointer;
}

.user-login-panel > * {
  margin-left: 0.2em;

}
/*
.user-login-panel.not-logged-in {
  background: #fff5f5;
  box-shadow: 0px 0px 1px 1px #fed6d6
}
*/
.user-login-panel:hover { 
  background: rgba(0,0,0,0.046);
  
}

@keyframes glow {
  from {}
  to {box-shadow: 0px 0px 2px 1px #d38686}
}


/** ACCESSIBLE? FILE INPUT */
[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.loading-centered {
  margin: auto;
  padding-top: 5em;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #d4d3da;
  border-color: #d4d3da #e31f1f00 #d4d3da transparent;
  animation: lds-dual-ring 2.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
