/**
 *  CSS For threads and posts.
 * 
 */

/** POST conntainer */
.thread-post-container {
  margin-left: calc(var(--post-level) * 3em);
  margin-right: 2.3em;
  font-size: 0.9em;
}

/** 

POST

3 Header Rows
1 Main content Row 
1 Footer Row 

1 Main Content Column 
3-4 Right hand side Colums for header/footer buttons.  
 
**/

.thread-post {
  /* Layout */
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-columns: 1fr auto auto auto auto;
  text-align: left;
  border: 1px solid #e0dfdf;
  border-radius: 0.32em;
  overflow: hidden;
  margin-top: 0.6em;
  transition: height 1s;
}


/** GRID ITEMS **/

/** HEADER BACKGROUND */
.thread-post-info {
  grid-row: 1 / 4;
  grid-column: 1 / 19;
  background: linear-gradient(
    to left,
    rgba(228, 203, 228, 0.25) 0%,
    rgba(246, 249, 249, 0.55) 100%
  );
  box-shadow: inset 0 1px 3px -1px rgba(0, 0, 0, 0.24);

  /* Note... z-index of 0 or more will mean 
     the heade is actually affecting the color 
     the header items (since its defined before
     them in the DOM tree. and is on-top of them)
  */
  z-index: 0;
  z-index: -20;
 
}

/** OVERRIDE HEADER BACKGROUND FOR ROOT */
.thread-post-is-root .thread-post-info {
  background: linear-gradient(
    to left,
    rgba(172, 183, 183, 0.48) 0%,
    rgba(180, 193, 193, 0.55) 100%
  );
  box-shadow: inset 0px 0px 2px 1px rgba(180, 174, 195, 0.18);
}


.thread-post-title {
  /* First two Rows of Header */
  /* First (main) Column */
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  margin-left: 0.8em;
  color: rgb(83, 77, 77);
  z-index: 40;
  text-align: left;
  display: flex;
  align-items: center;
}


.thread-post-title-input {
  border: 0px dashed #00000087;
  border-radius: 0.3em;
  background: rgba(0,0,0,0);
  padding: 0.3em;
  font-size: 1.15em;
  cursor: default;
}

.is-editing .thread-post-title-input {
  border: 1px dashed rgba(0,0,0,0.3);
  border-radius: 0.3em;
  background: rgba(255, 255, 255, 0.81);
  padding: 0.3em;
  font-size: 1em;
  outline: default;
  cursor: default;
  height: auto;
  width: 85%;
}


 
/** POST TIME. ALWAYS TOP RIGHT */
.thread-post-time {
  grid-row: 1 / 2;
  grid-column: 8 / 9;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: #666;
  margin-right: 0.4em;
  font-size: 0.8em;
  /* padding: 0.4em; */
}

/** FROM USERNAME / TEXT */
.thread-post-from {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: flex-start;
  align-self: center;
  margin: 0.4em;
  color: #666;
}

.thread-post-from::after {
  content: " replies";
}

/** OVERRIDE FROM FOR ROOT */
.thread-post-is-root .thread-post-from {
  grid-row: 3 / 4;
  grid-column: 6 / 9;
  justify-self: flex-end;
  padding-right: 0.50em;
  min-width: 0;
}

.thread-post-is-root .thread-post-from::after {
  content: ""
}


/** MAIN CONTENT **/
.thread-post-content {
  grid-row: 4 / 5;
  grid-column: 1 / 9;
  padding: 0.8em 0em;
  padding-top: 0.9em;
  margin: 0em 1em;
  min-height: 1em;
}

.thread-post-content {
  white-space: pre-wrap;
  
}

.thread-post-content-textarea {
  padding: 0.5em;
  /** Width does not take into account padding on parent.. */
  width: calc(100% - 1em);
  min-height: 8em;
  border: 1px dashed rgba(0,0,0,0.3);
  border-radius: 0.3em;
}

.thread-post-edit-icon {
  /*display: none;*/
  grid-row: 1 / 2;
  grid-column: 7 / 8;
  align-self: center;
  font-size: 1.3em;
  margin: 0.1em;
  color: #999;
  cursor: pointer;
}

.thread-post-pending-icon {
  grid-row: 1 / 2;
  grid-column: 6 / 6;
  align-self: center;
  font-size: 1.3em;
  margin: 0.1em;
  animation:spin 8s linear infinite;
  color: #eca388e0;
  opacity: 0.0;
  z-index: 50;
}
.is-pending-tx .thread-post-pending-icon {
  opacity: 1.0;
}

@keyframes spin { 
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}

.thread-post-time-with-edits {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.thread-post-edits-dropdown {
  font-size: 0.8em;
  color: #444;
  border: 1px sold #6f6f6f;
  border-radius: 0.2em;
}

.thread-post-edits-dropdown a {
  display: inline-block;
  padding-bottom: 0.64em;
  cursor: pointer;
}

.thread-post-edits-dropdown a:hover {
  color: #111;
  text-decoration: underline;
}

.thread-post-edits-dropdown-popover {
  background: #edf3db;
  margin: 0em;
  padding: .15em 0.7em;
  padding-top: 0.7em;
  border-radius: 0.2em;
  border: 1px solid #e4dede;
}

/** FOOTER TOP BORDER  */
.thread-post-footer {
  grid-row: 5 / 6;
  grid-column: 1 / 9;
  margin: 0em 1em;
  border-top: 2px solid rgba(0, 0, 0, 0.15);
}

/** REPLY BUTTON **/
.thread-post-reply-button {
  grid-row: 5 / 6;
  grid-column: 4 / 8;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  font-size: 0.9em;
  border: 1px solid rgba(100, 100, 100, 0);
  transition: transform 0.2s, border 0.2s;
  min-width: 0;
  border-radius: 0.4em;
  color: rgb(170, 170, 170);
  margin: 0.19em 0em;
  padding: 0.1em .3em;
  
}

.edit-post-button-bar {
  grid-column: 1 / 9;
  grid-row: 5;
  display: flex;
  justify-content: flex-end;
  margin: 0.15em 0.8em;
  font-size: 1.05em;
}

.thread-post-save-edit,
.thread-post-cancel-edit
{
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  font-size: 0.9em;
  border: 1px solid rgba(100, 100, 100, 0.48);
  transition: transform 0.2s, border 0.2s;
  padding: 0.38em;
  min-width: 0;
  border-radius: 0.4em;
  color: rgb(170, 170, 170);
  margin: 0.45em 0em;
  padding: 0em 0.3em;
  color: rgba(46, 46, 46, 0.82);
  padding: 0.4em 1em;
  justify-content: space-between;
  font-size: 1em; 
  margin-left: 0.5em;
}

.thread-post-save-edit i,
.thread-post-cancel-edit i {
  margin-left: 0.3em;
   
}
.thread-post-save-edit:hover,
.thread-post-cancel-edit:hover {
  color: rgb(100, 100, 100);
  border: 1px solid rgb(185, 192, 226);
  cursor: pointer;
  box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.24);
}

.thread-post-save-edit:hover {
  border: 1px solid rgb(185, 226, 191);
  background: rgba(206, 247, 168, 0.32);
}
.thread-post-cancel-edit:hover {
  border: 1px solid rgb(208, 208, 208);
  background: rgba(243, 178, 178, 0.09);
}

/*
.is-votes-disabled .thread-post-reply-button  {
  grid-column: 5 / 5;
}*/

.thread-post-reply-button > * {
  margin-left: 0.3em;
}

.thread-post-reply-button i {
  font-size: 1.24em;
}

.thread-post-reply-button:hover {
  color: rgb(100, 100, 100);
  border: 1px solid rgb(185, 192, 226);
}

/** REPLY BUTTON OVERRIDES FOR ROOT */
.thread-post-is-root .thread-post-reply-button {
   color: rgba(46, 46, 46, 0.82);
   padding: 0.4em 1em;
   justify-content: space-between;
   font-size: 1em;
}

.thread-post-is-root .thread-post-reply-button:hover {
  box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.24);
  background: rgba(228, 230, 242, 0.87);
}


/** VOTE BOX, contains both vote icons in a flexbox */
.thread-post-vote {
  display: flex;
  grid-row: 5 / 6;
  grid-column: 8 / 9;
  margin: 0.05em 1em;
  padding: 0.17em;
  justify-content: space-around;
  align-items: center;
  color: rgb(170, 170, 170);
}

.thread-post-vote .ri-thumb-up-line,
.thread-post-vote .ri-thumb-down-line {
  margin-left: 0.13em;
  border: 1px solid rgba(0, 0, 0, 0.001);
  border-radius: 0.4em;
  transition: transform 0.2s, border 0.5s;
  padding: 0.2em;
}

.thread-post-vote .ri-thumb-up-line {
  font-size: 1.35em;
}

.thread-post-vote .ri-thumb-down-line {
  font-size: 1.15em;
}

.thread-post-vote .ri-thumb-up-line:hover {
  color: rgb(100, 100, 100);
  border: 1px solid rgb(128, 210, 120);
  transform: scale3d(1.12, 1.12, 1.12);
}

.is-votes-disabled.thread-post-vote .ri-thumb-up-line:hover {
  color: unset;
  border: 1px solid rgba(128, 210, 120,0);
  transform: scale3d(1, 1, 1);
}

.thread-post-vote .ri-thumb-down-line:hover {
  color: rgb(100, 100, 100);
  border: 1px solid rgb(210, 162, 120);
}

.is-votes-disabled.thread-post-vote  .ri-thumb-down-line:hover {
  color: unset;
  border: 1px solid rgba(0,0,0,0);
}

.button-icon {
  cursor: pointer;
  transition: opacity 2.5s;
  opacity: 1.0;
}


.thread-post .root-post h4 {
  padding: 1em;
  margin-top: 0em;
  border-bottom: 2px dashed var(--color-underline);
}
.thread-post p {
  padding: 0.2em 1em;
}



/** POST-REPLY BOX */

.post-reply {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1em;
  margin-bottom: 4em;
}

.post-reply textarea {
  overflow: auto;
  /*resize: none;*/
  border: 2px solid rgba(175, 181, 185, 0.3);
  border-radius: 0.4em;
  width: 90%;
  outline: none;
  padding: 0.5em;
  padding-top: 1em;
  min-height: 8em;
}

.post-reply a {
  margin: 0.5em 0em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid var(--color-border);
  background: rgba(228, 230, 242, 0.57);
  color: #4d4d4d;
  border-radius: 0.2em;
  padding: 0.45em 0.95em;
  width: auto;
}

.post-reply a:hover {
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.24);
  background: rgba(228, 230, 242, 0.87);
}
.post-reply a i {
  margin-left: 0.4em;
  font-size: 1.25em;
}

/** BAD CONTENT DIV - REPLACES ENTIRE POST **/
.bad-content-link {
  display: block;
  padding: 0.34em 4em;
  margin: 0.4em 0.1em;
  border: 1px dashed #c3a2a240;
  color: #8f6b6b82;
  background: #f6f1f15c;
  border-radius: 0.4em;
  justify-self: center;
  cursor: pointer;
}

.bad-content-link:hover {
  color: #5f5e66cc;
}